
@{
    ViewBag.Title = "Budget";
}

<h2>Budget</h2>

<div class="center">You owe $<span id="total" class="money-totals">0</span>.  Pay Me.</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/budget.js"></script>
}

