@{
    ViewBag.Title = "Floorplan";
}



@section scripts
{
    <script type="text/javascript" src="~/Scripts/floorplan.js"></script>
}

<div class="col-md-2 toolbox fill container-fluid">
    <div class="icon icon-1 col-md-4" data-id="1"></div>
    <div class="icon icon-2 col-md-4" data-id="2"></div>
    <div class="icon icon-3 col-md-4" data-id="3"></div>
    <div class="icon icon-4 col-md-4" data-id="4"></div>
    <div class="icon icon-5 col-md-4" data-id="5"></div>
    <div class="icon icon-6 col-md-4" data-id="6"></div>
    <div class="icon icon-7 col-md-4" data-id="7"></div>
    <div class="icon icon-8 col-md-4" data-id="8"></div>
    <div class="icon icon-9 col-md-4" data-id="9"></div>
</div>

<div class="col-md-10 fill">
    <h2>Corte Commoda House</h2>
    <div class="canvas floorplan-canvas fill" id="floorplan">
    </div>
</div>
