body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
   
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.toolbox {
    background-color: #222222;
    color: whitesmoke;
}

.icon {
     width: 48px;
    height: 48px;
    margin: 10px !important;
    
}

.selected {
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 5px #fff;
}

.icon-1 {
    background-image: url("/Images/icons/keypad.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.placed-icon {
    position: absolute;
}

.money-totals {
    font-size: 24pt;
    color: red;
}

.icon-2 {
    background-image: url("/Images/icons/lights.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.icon-3 {
    background-image: url("/Images/icons/phone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.icon-4 {
    background-image: url("/Images/icons/projector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.icon-5 {
    background-image: url("/Images/icons/seats.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.icon-6 {
    background-image: url("/Images/icons/speaker.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.icon-7 {
    background-image: url("/Images/icons/station.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.icon-8 {
    background-image: url("/Images/icons/tv.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.icon-9 {
    background-image: url("/Images/icons/wap.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.floorplan-canvas {
    background-image: url("/Images/floorplan.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
html, body , .fill{
    height: 100%;
}

/*Prettifying*/
.navbar-top
{
height: 7%;
}

.toolbar
{
min-width: 166px;
width: 10%;
}

.workarea
{
overflow-y: scroll;
    float: none;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.workarea-container{
    overflow: hidden;
}

footer
{
background-color: #333;
border-top: solid 1px black;
color: white;
}

body
{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
    font-family: 'Roboto', sans-serif;
}

.icon:hover
{
    border: solid 2px lightgray;
    border-radius: 24px;
}

.navbar-inverse .navbar-nav > li > a:hover
{
    background-color: #808080 !important;
}

.budget-workarea
{
    padding: 10px;
    border: solid 1px lightgrey;
    margin: 10px;
}

.navbar-brand
{
    font-size: 26px;
    color: white !important;
    cursor:default;
}

body > div > div.container {
    margin-left: 5px;
}